:root {
    --alink: #0000ee;
    --avisited: #551a8b;
  
    --lightgray: rgb(240, 240, 240);
    --gray: rgb(150, 150, 150);
    --darkgray: rgb(50, 50, 50);
    --byuiblue: rgb(0, 110, 182);
    --navy: rgba(0, 0, 128, 0.847);
    --red: rgb(182, 0, 19);
    --purple: rgb(103, 48, 155, .2);
    --mustard: rgb(182, 163, 0);
    --callout: rgb(230, 243, 254);
    --error: rgb(255, 215, 225);
    --warning: rgb(255, 255, 225);
    --details: rgb(238, 254, 238);
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--byuiblue);
    margin: 0;
    color: #FEFCFB;
    padding: 1rem;
}



h1, h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1 {
    text-align: left;
    margin-left: 1rem;
    font-size: 1.5rem;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #FEFCFB;
    position: absolute;
    top: 2rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    max-width: 500px;
    margin: 1rem auto;
    background-color: var(--navy);
}

.navigation a {
    color: #FEFCFB;
    text-decoration: none;
    display: none;
    padding: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.open a {
    display: block;
}

h2 {
    text-align: center;
}

main {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr;
}
figure {
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
}

figcaption {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
}


footer {
    text-align: center;
    background-color: var(--navy);
    color: #fff;
    padding: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

